.coSe {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
.colorSelectorGreen {
  background-color: rgb(18, 158, 18);
}
.colorSelectorRed {
  background-color: brown;
}
.colorSelectorBlue {
  background-color: rgb(37, 84, 162);
}
.colorSelectorYellow {
  background-color: goldenrod;
}
.colorSelectorGrey {
  background-color: rgba(168, 168, 168, 0.794);
}
