.topSchema {
  width: 98%;
  min-height: 500px;
  margin: auto;
  .titleRowDis {
    display: grid;
    height: 30px;
    grid-template-columns: 9% 64% 9% 9% 9%;
    .titleRow {
      background-color: rgba(16, 62, 170, 0.849);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1px;
      font-size: 0.9rem;
      font-weight: 400;
    }
  }
}
